.App {
  text-align: center;
}

.game {
  display: flex;
  margin: 0 auto;
  gap: 3em;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, auto);
  border: 1px solid black;
}

.empty, .filled {
  border: 1px solid green;
  background-color: #282c34;
  aspect-ratio: 1;
  height: 3vh;
}

.filled {
  background-color: tomato;
}
